@import "tailwindcss";


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #171315;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

select {
  color: black;
}

.card {
  padding: 2em;
}


@theme {
  --color-primary: #2E2C2B;
  --color-secondary: #14377B;

}

.scroll-left {
  direction: rtl;
}
.scroll-left > * {
  direction: ltr;
}

/* Aumentar el ancho, padding y tamaño del texto del toast */
.custom-toast {
  font-size: 1.3rem;              /* Texto más grande */
  padding: 3rem 3rem;           /* Más espacio interior */
  min-width: 400px;               /* Más ancho */
  min-height: 80px;               /* Más alto */
  border-radius: 1rem;
  display: flex;
  align-items: center;
}

/* Aumentar el tamaño del icono */
.custom-toast .vue3-toastify__toast-icon {
  font-size: 2rem !important;     /* Ícono más grande */
  margin-right: 1rem;
}

